@import "tailwindcss";


@font-face {
      font-family: "Inter";
      font-display: swap;
      src: url("../src/assets/font/Inter_18pt-Light.woff2") format("woff2");
}



:root {
     --bg-navbar: #26443e;
     --bg-form: #18312c;
     --bg-input: #367669;
     --text-label: #fff7ef;

      
}




@theme {
      --font-inter: "Inter", "sans-serif";

      /* color */
      --color-navbar: var(--bg-navbar);
      --color-form: var(--bg-form);
      --color-input: var(--bg-input);
      --color-label: var(--text-label);

      /* font-size */
      --text-xxs: 0.65rem
}


body {
      font-family: var(--font-inter);
}

.hover__btn {
      @apply p-2 shadow-md/30  rounded-full hover:bg-emerald-700  focus:bg-emerald-800  focus:shadow-md/80 transition-colors duration-200
}

.map__table {
      @apply absolute top-0 right-0 z-500 flex flex-col items-center gap-2 p-1 m-2 rounded-md border border-amber-800 bg-white text-xxs
}