@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@font-face {
      font-family: "Inter";
      font-display: swap;
      src: url("../src/assets/font/Inter_18pt-Light.woff2") format("woff2");
}



@theme {
      --font-inter: "Inter", "sans-serif";

      /* font-size */
      --text-xxs: 0.65rem
}

body {
      font-family: var(--font-inter);
}